{%load static%}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>DEFAULT WEBSITE</title>
	<meta name="description" content="Page-specific description">
	<meta name="keywords" content="Page-specific keywords">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="shortcut icon" href="static/images/favicons/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="static/images/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" href="static/images/favicons/apple-touch-icon-precomposed.png">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}">
</head>
<body>
	<!-- $Page header-->
	<header class="page-header js-header">
		<div class="page-header__inner">
			<div class="page-header__logo">
			<h1>My</h1>
			&nbsp;<span>Web</span>
			</div>
			<nav class="page-header__nav js-nav">
			<ul>
				<li>
					<a class="page-header__nav-link js-anchor js-link is-active" href="{%url 'home'%}">Home</a>
				</li>




			</ul>
			</nav>
		</div>
	</header>
	<!-- $Promo section-->
	<section  id="home">
		<h2 class="promo__title">My<span>Web</span></h2>
		<a class="promo__btn" href="/login">LOGIN TO START</a>
	</section>



</body>
</html>
{% endblock %}
