{% extends "home.html" %}

{% block title %}
    Login Page
{% endblock %}


{% block content %}
{% if msg %}
    <script>
        alert('{{msg}}')
    </script>
{% endif %}

{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<body>
    <div id="container-login">
        <div id="title">
            <i class="material-icons lock">lock</i> Login
        </div>

        <form action="/dashboard/" method="post"> {% csrf_token %}

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input name="email" placeholder="Email" type="text">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input name="password" placeholder="Password" type="password">
            </div>

            
            <br>
           
            <button type="submit" id="loginbtn">Login</button>

        </form>


        <div class="register">
            Don't have an account yet?
            <a href="/signup"><button id="register-link">Register here</button></a>
        </div>
    </div>
</body>

</html>
{% endblock %}
